<a href="https://colab.research.google.com/github/athi27/DATA_SCIENCE_LAB/blob/main/CO1_Experiment_1_Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Make a duplicate copy of google colab by clicking File/ Save a copy in Drive option. A duplicate copy will get created. It will open up in the new tab on your web browser .After that change share settings**

1. Write  code to
    a)Create different numeric data , print its value and type

    b) Perform addition subtraction multiplication and division on numbers in Python

In [2]:
#write your code here
no1=24
no2=22.3
print(no1,type(no1))
print(no2,type(no2))
print(no1+no2)
print(no1-no2)
print(no1/no2)
print(no1*no2)

24 <class 'int'>
22.3 <class 'float'>
46.3
1.6999999999999993
1.0762331838565022
535.2

 2. Write code to
    1. Create a list contain Reg No., Name and Mark of 2 subjects(out of 100) of a student and Append one more mark to the  
    2. Print the list

** 3. Update the value of the second mark**

In [5]:
#write your code here
list1=[101,"Athira",56,89]
list1.append(90)
list1.append(78)
print(list1)

[101, 'Athira', 56, 89, 90, 78]

In [7]:
#write your code here
list1[3] = 88
print(list1)

[101, 'Athira', 56, 88, 90, 78]

** 4. Create a random list contain 10 elements with values between 40 and 80**

In [19]:
#write your code here
import random

def generate_random_list(size, min_value, max_value):
    if size <= 0 or min_value > max_value:
        raise ValueError("Invalid parameters")

    random_list = [random.randint(min_value, max_value) for _ in range(size)]
    return random_list

# Generate a random list of 10 elements between 40 and 80
random_list = generate_random_list(10, 40, 80)

# Print the generated random list
print("Generated Random List:", random_list)

Generated Random List: [55, 40, 48, 59, 51, 63, 67, 63, 55, 42]

** 5. Decrement the value of each element in the above list**

In [20]:
#write your code here
for i in range(10):
  random_list[i]=random_list[i]-10
print(random_list)

[45, 30, 38, 49, 41, 53, 57, 53, 45, 32]

**Create a dictionary  store the Name, City and Mobilw number of a person
Print the Name and Mobile number**

In [31]:
#wite your code here
dict1={"name":"Athira","city":"perumbavoor","number":9188311335}
print("Name:",dict1["name"]," and Mobile number:",dict1["number"])

Name: Athira  and Mobile number: 9188311335